/* contentscript styles */

.adguard-icon {
    position: absolute!important;
    width: 15px;
    height: 15px;
    display: inline-block!important;
    margin: 1px;
    vertical-align: middle;
    z-index: 10;

    .adguard-icon-status {
        opacity: 0.5;
        width: 15px;
        height: 15px;
        vertical-align: middle!important;
        cursor: pointer;

        &.adguard-icon-status-ok {
            background: url('./img/ok.svg') no-repeat;
            background-size: contain;
        }

        &.adguard-icon-status-not-ok {
            background: url('./img/not-ok.svg') no-repeat;
            background-size: contain;
        }

        &:hover, &.adguard-icon-status-show {
            opacity: 1;
        }

        .adguard-icon-status-content {
            position: absolute!important;
            width: 200px;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: rgba(0, 0, 0, 0.3) -1px 2px 4px;
            border-radius: 4px;
            padding: 10px;
            display: none;
            top: -10px;
            left: 30px;
            cursor: default;

            p,i {
                font-family: 'Tahoma', sans-serif!important;
                font-size: 14px!important;
                font-style: normal!important;
                font-weight: 200!important;
                line-height: 16px!important;
                color: #333!important;
            }

            p {
                display: block!important;
                padding: 0!important;
                margin: 10px 0!important;
            }

            i {
                padding: 0!important;
                margin: 0!important;
                font-style: italic!important;
            }

            &:before,
            &:after {
                position: absolute!important;
                z-index: 101;
                top: 20px;
                left: -5px;
                width: 10px;
                height: 10px;
                margin-top: -5px;
                content: ' ';
                transform: rotate(45deg);
                background: rgb(255, 255, 255);
            }

            &:after {
                z-index: 100;
                box-shadow: rgba(0, 0, 0, 0.3) -1px 2px 4px;
            }

            p {
                width: 100%;
                overflow: hidden!important;
                text-align: left!important;
                white-space: nowrap!important;
            }

            .adguard-icon-status-close {
                float: right;
                outline: none;
                border: none;
                background: none;
                font-size: 22px;
                line-height: 22px;
                padding: 0 5px;
                cursor: pointer;
            }

            .adguard-icon-status-denied,
            .adguard-icon-status-allowed {
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                border-radius: 100%;
                margin: 0 10px 0 0;
                background: red;
            }

            .adguard-icon-status-allowed {
                background: green;
            }
        }
        &.adguard-icon-status-show .adguard-icon-status-content{
            display: block!important;
        }
    }
}
